In [7]:
import pandas as pd
import numpy
from sklearn.ensemble import RandomForestClassifier
import pickle
import os

In [20]:
myForest=RandomForestClassifier()

In [21]:
myForest

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [32]:
filename = 'randomforest.sav'
pickle.dump(myForest, open(filename, 'wb'))

In [28]:
os.path.expandvars('randomforest.pickle')

'randomforest.pickle'

In [4]:
m=pickle.load(open("randomforest.sav","rb"))

In [65]:
test=pd.read_csv("../../Database/Kaggle/Train_rev1.csv")

In [73]:
test.head()

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
2020,51860115,Financial Accountant,A leading Insurance/Reinsurance Business is cu...,London,London,full_time,permanent,CMC Consulting Limited,Accounting & Finance Jobs,"40,000 - 50,000 + Bonus + B",45000,myjobs.cimaglobal.com
2089,52314212,Commercial Finance Analyst,"Our client, has an unrivalled opportunity for ...",Bedfordshire,Bedfordshire,full_time,permanent,CMC Consulting Limited,Accounting & Finance Jobs,"25,000 - 35,000",30000,myjobs.cimaglobal.com
2228,53633132,Financial Accountant,"Our client, a leading Insurance company, is cu...",London,London,full_time,permanent,CMC Consulting Limited,Accounting & Finance Jobs,"40,000 - 45,000 + Bonus + B",42500,myjobs.cimaglobal.com
2229,53636956,Commercial Analyst,"My client, a market leading software company, ...",Berkshire,Berkshire,full_time,permanent,CMC Consulting Limited,Accounting & Finance Jobs,"50,000 - 55,000 + Benefits",52500,myjobs.cimaglobal.com
2341,54664853,Teachers,iday s unrivalled originality has captured the...,Norfolk,Norfolk,part_time,contract,Engage Education,Teaching Jobs,100 - 145/day,29400,cv-library.co.uk

In [62]:
m.predict(test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    0.0s finished

array([30408.66368464, 33232.63432104, 31907.12796063])

In [61]:
test=test.loc[[0,1,3]]
test=test[liste]

In [50]:
test=test.loc[[0,1,3]]

In [30]:
liste=test.columns

In [46]:
liste=['Id', 'Title', 'FullDescription', 'LocationRaw', 'LocationNormalized',
       'ContractType', 'ContractTime', 'Company', 'Category',
        'SourceName']

In [63]:
liste=pd.read_csv("../../Database/Kaggle/Test_rev1.csv")

In [71]:
test=test.dropna()
y_test=test["SalaryNormalized"]
x_test=test[liste.columns]

In [72]:
m.score(x_test,y_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    0.6s finished

0.7702034005439145